body {
    margin: 0;
}

/* Hide all views to start off with, then dynamically show using JS */
.view {
    display: none;
    margin-top: 2rem;
}

.view.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

#back-button {
    margin-right: 0.5rem;
}

#search-button, #camera-button {
    margin-left: 1rem;
}

#definition-header {
    align-items: baseline;
}

#pronunciation {
    margin-left: 1rem;
}

#syllables {
    margin-left: 1rem;
}

.example {
    font-style: italic;
}

li.definition {
    margin-bottom: 2rem;
}

li.example {
    margin-top: 0.5rem;
}
